@font-face {font-family: 'dev'; src: url('dev-font.woff') format('woff'); font-weight: normal; font-style: normal;}
*{margin: 0;padding: 0;}
html,body{min-width: 100%; min-height: 100%; height: 100%;}
body{background: #f2f4f6; color: #333; font-family: "dev"; font-size: 16px; position: relative;}
header{background: #cc3d3d; width: 100%; height: 66px; box-shadow: 0px 0 5px 0 rgba(234, 45, 46, 0.5); color: #fff; position: absolute; top: 0; z-index: 2;}
.logIn{line-height: 66px; padding: 0px 65px; color: #fff; float: right; font-weight: bold; text-decoration: none;}
main{padding: 15px 15px 15px 280px; background: transparent; z-index: -2; font-size: 0;}
aside{position: absolute; left: 0; top: 0px; padding: 15px; width: 230px; text-align: center; background: #fff; height: 100%;}
aside>a{font-size: 1.5rem; font-weight: bold; text-align: center; display: inline-block; width: 100%; line-height: 3.5rem; color: #717171; text-decoration: none;}
aside>a:hover{color: #cc3d3d;}
footer{position: relative; width: 100%; background-color: #cc3d3d; color: #fff; padding: 10px 0; text-align: center; font-size: 12px; margin-top: 34px;}
.mainLogo{display: block;width: 260px; height: 66px; font-size: 0; float: left;	background: transparent url(img/javaLogo.png) 50% 50% no-repeat; background-size: 40%;}


@media screen {
	.wrapp{position: relative; margin: 0 auto; width: 1310px; height: auto; min-height: 100%; overflow: hidden;}
	.wrapp:nth-child(2){top: 66px; padding-bottom: 30px;}
}


/*--- Notes ---*/
.smallNote,.Note,.noteComments{display: inline-block; position: relative; margin: 10px; overflow: hidden; background: #fff; border-radius: 6px; font-size: 1rem; line-height: 1.5rem; box-sizing: border-box; text-decoration: none; color: #333;}
.smallNote{width: 315px; height: 280px;}
.Note,.noteComments{width: 900px; height: auto; min-height: 150px;}
.noteHeader{font-size: 1.2rem; width: 100%; height: 55px; background: transparent url(img/hr-dashes.png) 100% 100% repeat-x; padding: 0 12px;  box-sizing: border-box;  font-weight: bold;  line-height: 55px;  overflow: hidden;}
.noteHeader::after{content: ''; background: url(img/note-corner.png) 100% 0% no-repeat, linear-gradient(to left, #fff 50%, transparent); width: 80px; height: 52px; display: block; position: absolute; top: 0; right: 0;}
.noteContent{box-sizing: border-box; padding: 10px 10px 80px 10px; height: auto; overflow: hidden; white-space: pre-wrap;}
.smallNote .noteContent{box-sizing: border-box; padding: 10px; height: 150px; overflow: hidden; white-space: pre-wrap;}
.smallNote .noteContent::after{content: ''; background: linear-gradient(to top, #fff 10%, transparent); width: 315px; height: 35px; display: block; position: absolute; bottom: 75px; right: 0;}
.noteInfo{position: absolute; bottom: 0; width: 100%; height: 75px;padding: 12px; box-sizing: border-box; background: transparent url(img/hr-dashes.png) 100% 0% repeat-x; font-weight: bold; color: #717171; font-size: 14px;}
.OwnerAvatar{display: block; width: 52px; height: 52px; border-radius: 100%; float: left;}
.noteOwnerName{font-size: 1rem; line-height: 1rem; position: absolute; left: 72px; top: 20px;}
.noteSubject{position: absolute; top: 35px; left: 72px;}
.noteDate{position: absolute; bottom: 10px; right: 10px;}
.noteContains{position: absolute; bottom: 27px; right: 0px; width: 82px; text-align: center; font-size: 0;}
.ncLink{display: inline-block; width: 15px; height: 16px; background: url(img/noteContains.png) 0 0 no-repeat; padding: 0 5px;}
.ncImg{display: inline-block; width: 17px; height: 16px; background: url(img/noteContains.png) -27px 0 no-repeat; padding: 0 5px;}
.ncCode{display: inline-block; width: 19px; height: 16px; background: url(img/noteContains.png) -55px 0 no-repeat; padding: 0 5px;}
.noteContent a{color: #717171; font-weight: 400;}
.noteContent a:hover{color: #e73d3d;}
.noteContentCodeWrapp{display: block; background-color: #fff; font-size: 0; white-space: normal;}
.noteContentCodeCounter{display: block; float: left; min-width: 10px; background-color: #f2f4f6; font-size: 1rem; padding: 0 5px 0 10px; text-align: right; white-space: pre-wrap;}
.noteContentCode{display: block; float: left; width: auto; background-color: #f2f4f666; font-size: 1rem; padding: 0 15px; white-space: pre-wrap;}
.noteContent img{max-width: 880px; margin: 0 auto; display: block;}
.addToFavorite{width: 52px; height: 52px; background: url(img/addToFavorite.png) 0 0 no-repeat; display: block; width: 35px; height: 35px; background-size: cover; float: right; clear: both;}
.OwnerName{font-size: 1rem; color: #717171; font-weight: bold;}

/*--- Header ---*/
.signed{display: block; float: right; width: auto; height: 66px;}
.makeNote{display: block; float: left; margin: 12px 20px 0 0; width: auto; height: 43px; line-height: 43px; color: #fff; border-radius: 6px; background-color: #e73d3d; text-decoration: none; font-weight: bold; padding: 0 20px;}
.notifications{display: block; float: left; width: 50px; height: 66px; background: transparent url(img/notifications.png) 50% 50% no-repeat; font-size: 0;}
.sUser{display: block; float: left; min-width: 66px; height: 66px; background: transparent url(img/sUser.png) 10px 50% no-repeat; color: #fff; font-size: 1rem; font-weight: bold; line-height: 66px; text-decoration: none; padding: 0 10px 0 70px;}
#searchForm{width: 340px; height: 66px; float: left; position: relative;}
#searchForm>input[type="text"]{width: 300px; height: 35px; margin: 12px 0 0 5px; padding: 0 50px 0 10px; overflow: hidden; background: transparent; border: 1px solid transparent; border-bottom-color: #ebb1b1; color: #fff; box-sizing: border-box; font-size: 0.75rem; line-height: 35px;}
#searchForm>input[type="submit"]{position: absolute; top: 10px; right: 35px; width: 50px; height: 37px; background: transparent url(img/search.png) 50% 60% no-repeat; border: none; font-size: 0;}
input:focus{outline-color: #fff;}


/*--- Aside ---*/


/*--- Comments ---*/
.noteComments{}
.noteComments>h2{font-size: 1.4rem; padding: 30px 0px 20px 30px; clear: both;}
.comentWrap{padding: 10px;}
.comentWrap>.OwnerAvatar{padding: 0 15px;}
.comment{white-space: pre-wrap; margin-left: 82px;}
#writeComment{position: relative; padding: 25px;}
#writeComment>textarea{float: left; width: 765px; min-width: 765px; max-width: 765px; min-height: 72px; max-height: 72px; white-space: pre-wrap; margin-left: 20px; font-family: "dev"; font-size: 1rem; padding: 10px; box-sizing: border-box; position: relative; border-color: #717171;}
#writeComment>input[type="submit"]{border: none; padding: 10px; background-color: #f2f4f6; position: absolute; top: 61px; right: 39px;}

/*--- Tags ---*/
.tag,.tagP,.tagD,.tagB{font-size: 14px; font-weight: bold; line-height: 28px;}
.tagP{color: #3d92ea;}
.tagD{color: #eb4a4a;}
.tagB{color: #5dc95d;}





/*--- FIX ---*/
.dn{display: none;}
/*-----------*/